<%- include("header") -%>
<h2>About page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste quibusdam consequuntur doloribus similique fuga recusandae? Odit iure rem eaque, maiores hic dolorum sed blanditiis in perspiciatis, deserunt possimus ex veritatis!</p>

<%- include("footer") -%>